<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <header>
      NodeBlog

      <div class="actions">
        <a href="/compose">Compose</a>
      </div>
    </header>

    <div class="wrapper">
      <form class="" action="/articles/{{article.id}}" method="post">

        <fieldset>
          <legend>Update Article</legend>


          <div class="">
            <label for="title">Title</label>
            <input type="text" name="title" value="{{article.title}}">
          </div>

          <div class="">
            <label for="text">Article Text</label>
            <textarea name="text" rows="8" cols="80">
{{article.text}}
            </textarea>
          </div>

          <div class="">
            <input type="submit" name="" value="Update Article">
          </div>


        </fieldset>

      </form>
    </div>


    <script src="/js/client.js" charset="utf-8"></script>
  </body>
</html>
