body {
  margin: 0;
  padding: 0;
  background: #ecf0f1;
  color: #666666;
}

header {
  background: #1abc9c;
  color: white;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}


form label {
  display: block;
  font-size: 1.5em;
  margin-top: 1em;
}
form input, textarea{
  width: 100%;
}
form input[type='text'] {
  font-size: 1.2em;
}

form input[type='submit'] {
  display: block;
  font-size: 1.2em;
  padding: 1em;
  background: #27ae60;
  color: white;
  margin-top: 1em;
}

form.delete input[type='submit'] {
  display: block;
  font-size: 1.2em;
  padding: 1em;
  background: red;
  color: white;
  margin-top: 1em;
  border: 0;
  width: 20%;
}
